<?xml version="1.0" encoding="utf-8"?>

<plugin>
	<name>iFlyChat</name>
	<key>iflychat</key>
	<description>Allows users to communicate via instant chat messaging. Provides multiple AJAX implementations.</description>
    <author>IflyChat team</author>
    <authorEmail>support@iflylabs.com</authorEmail>
	<authorUrl>http://www.iflylabs.com</authorUrl>
	<developerKey>807410803d776a1fffcdcd843e36fcef</developerKey>
    <build>7000</build>
    <copyright>(C) 2009 Oxwall Foundation. All rights reserved.</copyright>
    <license>GNU General Public License version 2 or later; see LICENSE.txt</license>
    <licenseUrl>http://www.opensource.org/licenses/bsd-license.php</licenseUrl>
</plugin>