
{form name="IFLYCHAT_ConfigSaveForm"}
<table class="ow_table_1 ow_form">
    <tr>
        <th class="ow_name ow_txtleft" colspan="3">
            <span class="ow_section_icon ow_ic_gear_wheel">{"General settings"}</span>
        </th>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_external_api_key"}
        </td>
        <td class="ow_value">
            {input name="iflychat_external_api_key"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_external_api_key"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_show_admin_list"}
        </td>
        <td class="ow_value">
            {input name="iflychat_show_admin_list"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_show_admin_list"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_theme"}
        </td>
        <td class="ow_value">
            {input name="iflychat_theme"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_theme"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_notification_sound"}
        </td>
        <td class="ow_value">
            {input name="iflychat_notification_sound"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_notification_sound"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_user_picture"}
        </td>
        <td class="ow_value">
            {input name="iflychat_user_picture"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_user_picture"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_enable_smileys"}
        </td>
        <td class="ow_value">
            {input name="iflychat_enable_smileys"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_enable_smileys"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_log_messages"}
        </td>
        <td class="ow_value">
            {input name="iflychat_log_messages"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_log_messages"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_anon_prefix"}
        </td>
        <td class="ow_value">
            {input name="iflychat_anon_prefix"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_anon_prefix"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_anon_use_name"}
        </td>
        <td class="ow_value">
            {input name="iflychat_anon_use_name"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_anon_use_name"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_anon_change_name"}
        </td>
        <td class="ow_value">
            {input name="iflychat_anon_change_name"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_anon_change_name"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_load_chat_async"}
        </td>
        <td class="ow_value">
            {input name="iflychat_load_chat_async"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_load_chat_async"}
        </td>
    </tr>
    <tr class="support">
        <th class="ow_name ow_txtleft ow_support" colspan="3">
            <span class="ow_section_icon ow_ic_file support" >{"Customer Support Customization"}</span>
        </th>
    </tr>
    <tr class="support">
        <td class="ow_label">
            {label name="iflychat_support_chat_init_label"}
        </td>
        <td class="ow_value">
            {input name="iflychat_support_chat_init_label"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_support_chat_init_label"}
        </td>
    </tr>
    <tr class="support">
        <td class="ow_label">
            {label name="iflychat_support_chat_box_header"}
        </td>
        <td class="ow_value">
            {input name="iflychat_support_chat_box_header"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_support_chat_box_header"}
        </td>
    </tr>
    <tr class="support">
        <td class="ow_label">
            {label name="iflychat_support_chat_box_company_name"}
        </td>
        <td class="ow_value">
            {input name="iflychat_support_chat_box_company_name"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_support_chat_box_company_name"}
        </td>
    </tr>
    <tr class="support">
        <td class="ow_label">
            {label name="iflychat_support_chat_box_company_tagline"}
        </td>
        <td class="ow_value">
            {input name="iflychat_support_chat_box_company_tagline"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_support_chat_box_company_tagline"}
        </td>
    </tr>
    <tr class="support">
        <td class="ow_label">
            {label name="iflychat_support_chat_auto_greet_enable"}
        </td>
        <td class="ow_value">
            {input name="iflychat_support_chat_auto_greet_enable"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_support_chat_auto_greet_enable"}
        </td>
    </tr>
    <tr class="support">
        <td class="ow_label">
            {label name="iflychat_support_chat_auto_greet_message"}
        </td>
        <td class="ow_value">
            {input name="iflychat_support_chat_auto_greet_message"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_support_chat_auto_greet_message"}
        </td>
    </tr>
    <tr class="support">
        <td class="ow_label">
            {label name="iflychat_support_chat_auto_greet_time"}
        </td>
        <td class="ow_value">
            {input name="iflychat_support_chat_auto_greet_time"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_support_chat_auto_greet_time"}
        </td>
    </tr>
    <tr class="support">
        <td class="ow_label">
            {label name="iflychat_support_chat_init_label_off"}
        </td>
        <td class="ow_value">
            {input name="iflychat_support_chat_init_label_off"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_support_chat_init_label_off"}
        </td>
    </tr>
    <tr class="support">
        <td class="ow_label">
            {label name="iflychat_support_chat_offline_message_desc"}
        </td>
        <td class="ow_value">
            {input name="iflychat_support_chat_offline_message_desc"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_support_chat_offline_message_desc"}
        </td>
    </tr>
    <tr class="support">
        <td class="ow_label">
            {label name="iflychat_support_chat_offline_message_label"}
        </td>
        <td class="ow_value">
            {input name="iflychat_support_chat_offline_message_label"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_support_chat_offline_message_label"}
        </td>
    </tr>
    <tr class="support">
        <td class="ow_label">
            {label name="iflychat_support_chat_offline_message_contact"}
        </td>
        <td class="ow_value">
            {input name="iflychat_support_chat_offline_message_contact"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_support_chat_offline_message_contact"}
        </td>
    </tr>
    <tr class="support">
        <td class="ow_label">
            {label name="iflychat_support_chat_offline_message_send_button"}
        </td>
        <td class="ow_value">
            {input name="iflychat_support_chat_offline_message_send_button"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_support_chat_offline_message_send_button"}
        </td>
    </tr>
    <tr class="support">
        <td class="ow_label">
            {label name="iflychat_support_chat_offline_message_email"}
        </td>
        <td class="ow_value">
            {input name="iflychat_support_chat_offline_message_email"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_support_chat_offline_message_email"}
        </td>
    </tr>
    <tr>
        <th class="ow_name ow_txtleft" colspan="3">
            <span class="ow_section_icon ow_ic_chat">{"Chat Moderation"}</span>
        </th>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_enable_chatroom"}
        </td>
        <td class="ow_value">
            {input name="iflychat_enable_chatroom"}
        </td>
        <td class="ow_desc ow_small">
            &nbsp;
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_stop_word_list"}
        </td>
        <td class="ow_value">
            {input name="iflychat_stop_word_list"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_stop_word_list"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_use_stop_word_list"}
        </td>
        <td class="ow_value">
            {input name="iflychat_use_stop_word_list"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_use_stop_word_list"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_stop_links"}
        </td>
        <td class="ow_value">
            {input name="iflychat_stop_links"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_stop_links"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_allow_render_images"}
        </td>
        <td class="ow_value">
            {input name="iflychat_allow_render_images"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_allow_render_images"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_allow_single_message_delete"}
        </td>
        <td class="ow_value">
            {input name="iflychat_allow_single_message_delete"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_allow_single_message_delete"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_allow_clear_room_history"}
        </td>
        <td class="ow_value">
            {input name="iflychat_allow_clear_room_history"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_allow_clear_room_history"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_allow_user_font_color"}
        </td>
        <td class="ow_value">
            {input name="iflychat_allow_user_font_color"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_allow_user_font_color"}
        </td>
    </tr>



    <tr>
        <th class="ow_name ow_txtleft" colspan="3">
            <span class="ow_section_icon ow_ic_lens">{"iFlyChat Visibility"}</span>
        </th>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_path_visibility"}
        </td>
        <td class="ow_value">
            {input name="iflychat_path_visibility"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_path_visibility"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_path_pages"}
        </td>
        <td class="ow_value">
            {input name="iflychat_path_pages"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_path_pages"}
        </td>
    </tr>

    <tr>
        <th class="ow_name ow_txtleft" colspan="3">
            <span class="ow_section_icon ow_ic_monitor">{"Theme Customization"}</span>
        </th>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_chat_topbar_color"}
        </td>
        <td class="ow_value">
            {input name="iflychat_chat_topbar_color"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_chat_topbar_color"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_chat_topbar_text_color"}
        </td>
        <td class="ow_value">
            {input name="iflychat_chat_topbar_text_color"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_chat_topbar_text_color"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_font_color"}
        </td>
        <td class="ow_value">
            {input name="iflychat_font_color"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_font_color"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_public_chatroom_header"}
        </td>
        <td class="ow_value">
            {input name="iflychat_public_chatroom_header"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_public_chatroom_header"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_chat_list_header"}
        </td>
        <td class="ow_value">
            {input name="iflychat_chat_list_header"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_chat_list_header"}
        </td>
    </tr>
    <tr>
        <th class="ow_name ow_txtleft" colspan="3">
            <span class="ow_section_icon ow_ic_user">{"iFlyChat Online User List"}</span>
        </th>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_minimize_chat_user_list"}
        </td>
        <td class="ow_value">
            {input name="iflychat_minimize_chat_user_list"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_minimize_chat_user_list"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_enable_search_bar"}
        </td>
        <td class="ow_value">
            {input name="iflychat_enable_search_bar"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_enable_search_bar"}
        </td>
    </tr>


    <tr>
        <td colspan="3" class="ow_center">
            {submit name="submit" class="ow_ic_save"}
        </td>
    </tr>
</table>
{/form}