{$menu}
{form name='configSaveForm'}
<table class="ow_table_1 ow_form">
    <!--<tr>-->
    <!--<th class="ow_name ow_txtleft" colspan="3">-->
    <!--<span class="ow_section_icon ow_ic_gear_wheel">{"General settings"}</span>-->
    <!--</th>-->
    <!--</tr>-->
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_app_id"}
        </td>
        <td class="ow_value">
            {input name="iflychat_app_id"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_app_id"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_external_api_key"}
        </td>
        <td class="ow_value">
            {input name="iflychat_external_api_key"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_external_api_key"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_enable_friends"}
        </td>
        <td class="ow_value">
            {input name="iflychat_enable_friends"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_enable_friends"}
        </td>
    <tr class="ow_alt1">
        <td class="ow_label">
            <label>{"Show Embed Chat"}</label>
        </td>
        <td class="ow_value">
            <a href="https://iflychat.com/docs/help/embedded-chatroom/embed-chatroom-php" target="_blank">
                <input type="button" class="btn btn-small btn-success" value="View Tutorial for Embed Chat">
            </a>
        </td>
        <td class="ow_desc ow_small">
            <label>{$embedChatDescription}</label>
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_show_popup_chat"}
        </td>
        <td class="ow_value">
            {input name="iflychat_show_popup_chat"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_show_popup_chat"}
        </td>
    </tr>
    <tr class="ow_alt1 textBox">
        <td class="ow_label">
            {label name="iflychat_path_pages"}
        </td>
        <td class="ow_value">
            {input name="iflychat_path_pages"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_path_pages"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_moderators"}
        </td>
        <td class="ow_value">
            {input name="iflychat_moderators"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_moderators"}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">
            {label name="iflychat_administers"}
        </td>
        <td class="ow_value">
            {input name="iflychat_administers"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="iflychat_administers"}
        </td>
    </tr>
    <tr>
        <td colspan="3" class="ow_center">
            {submit name="submit" class="ow_ic_save"}
        </td>
    </tr>
</table>
{/form}